In [10]:
import io
import json
import os
import re
from collections import OrderedDict
from shutil import copyfile
import xml.etree.cElementTree as ET

import pandas as pd

import nltk

from lazyme import per_section, deduplicate

In [5]:
old_nltk_data = nltk.data.path[0]

new_nltk_data = "packages/"

# ABC Corpus

In [86]:
# ABC corpus.
directory = new_nltk_data+'/corpora/abc/'
if not os.path.exists(directory):
    os.makedirs(directory)

with io.open(old_nltk_data+'/corpora/abc/rural.txt') as fin:
    rural_texts = [line.strip() for line in fin if line.strip()]
with io.open(old_nltk_data+'/corpora/abc/science.txt', encoding='latin_1') as fin:
    science_texts = [line.strip().encode('utf8').decode('utf8') for line in fin if 
                    line.strip().encode('utf8').decode('utf8')]

rural_df = pd.DataFrame({'text':rural_texts})
rural_df['subcorpora'] = 'Rural News'

science_df = pd.DataFrame({'text':science_texts})
science_df['subcorpora'] = 'Science News'

df_abc = pd.concat([rural_df, science_df])
df_abc.to_csv(new_nltk_data+'/corpora/abc/abc.tsv', sep='\t', index=False)
df_abc = pd.read_csv(new_nltk_data+'/corpora/abc/abc.tsv', sep='\t', 
                     dtype={'text':str, 'subcorpora':str})

abc_meta = {'title':'Australian Broadcasting Commission 2006',
            'source': 'http://www.abc.net.au/',
            'subcorpora': {'Rural News': {'source': 'http://www.abc.net.au/rural/news/'},
                           'Science News': {'source': 'http://www.abc.net.au/science/news/'}
                          },
             'xml': {'id':'abc', 'name':"Australian Broadcasting Commission 2006",
                     'webpage':"http://www.abc.net.au/", 'author':"Australian Broadcasting Commission",
                      'unzip':"1"}
           }


abc_xml = ET.Element("package", id="abc", name="Australian Broadcasting Commission 2006",
                  webpage="http://www.abc.net.au/", author="Australian Broadcasting Commission",
                  unzip="1")
tree = ET.ElementTree(root)
tree.write(new_nltk_data+'/corpora/abc/abc.xml')

with open(new_nltk_data+'/corpora/abc/abc-meta.json', 'w') as fout:
    json.dump(abc_meta, fout, sort_keys=True, indent=4, separators=(',', ': '))

In [87]:
df_abc.head()

                                                text  subcorpora
0               PM denies knowledge of AWB kickbacks  Rural News
1  The Prime Minister has denied he knew AWB was ...  Rural News
2  Letters from John Howard and Deputy Prime Mini...  Rural News
3  In one of the letters Mr Howard asks AWB manag...  Rural News
4  The Opposition's Gavan O'Connor says the lette...  Rural News

# Brown Corpus

In [85]:
# Brown

directory = new_nltk_data+'/corpora/brown/'
if not os.path.exists(directory):
    os.makedirs(directory)
    
    
with open(old_nltk_data+'/corpora/brown/cats.txt') as fin:
     categories = {line.strip().split(' ')[0]:line.strip().split(' ')[1] 
                   for line in fin}
        
brown_dir = old_nltk_data+'/corpora/brown/'

rows = []
for filename in os.listdir(brown_dir):
    if filename in ['CONTENTS', 'cats.txt', 'README']:
        continue
    cat = categories[filename]
    with open(brown_dir+filename) as fin:
        i = -1
        for paragraph in fin.read().split('\n\n'):
            if not paragraph.strip():
                continue
            i += 1
            j = -1
            for sent in paragraph.split('\n'):
                if not sent.strip():
                    continue
                j += 1
                raw = sent.strip()
                text, pos = zip(*[word.split('/') for word in raw.split()])
                rows.append({'filename': filename, 
                              'para_id': i, 
                              'sent_id': j, 
                              'raw_text': raw, 
                              'tokenized_text': ' '.join(text), 
                              'tokenized_pos': ' '.join(pos), 
                              'label': cat})
                
                
df_brown = pd.DataFrame(rows)[['filename', 'para_id', 'sent_id', 
                              'raw_text', 'tokenized_text', 'tokenized_pos', 'label']]
df_brown.to_csv(new_nltk_data+'/corpora/brown/brown.tsv', sep='\t', index=False)

df_brown = pd.read_csv(new_nltk_data+'/corpora/brown/brown.tsv', sep='\t', 
                     dtype={'filename':str, 'para_id':int, 'sent_id':int,
                             'raw_text':str, 'tokenized_text':str, 'tokenized_pos':str,
                           'label':str})

df_brown_cats = df_brown[['filename', 'label']].drop_duplicates().sort_values('filename')
df_brown_cats.to_csv(new_nltk_data+'/corpora/brown/cats.tsv', sep='\t', index=False)

brown_readme = """BROWN CORPUS

A Standard Corpus of Present-Day Edited American
English, for use with Digital Computers.

by W. N. Francis and H. Kucera (1964)
Department of Linguistics, Brown University
Providence, Rhode Island, USA

Revised 1971, Revised and Amplified 1979

http://www.hit.uib.no/icame/brown/bcm.html

Distributed with the permission of the copyright holder,
redistribution permitted."""

brown_meta = {'title':'Brown Corpus',
              'description': str('A Standard Corpus of Present-Day Edited American English, '
                               'for use with Digital Computers.'),
              'authors': 'W. N. Francis and H. Kucera (1964)',
              'url': 'http://www.hit.uib.no/icame/brown/bcm.html',
              'readme': brown_readme}

with open(new_nltk_data+'/corpora/brown/brown-meta.json', 'w') as fout:
    json.dump(brown_meta, fout, sort_keys=True, indent=4, separators=(',', ': '))

In [89]:
df_brown.head()

,filename,para_id,sent_id,raw_text,tokenized_text,tokenized_pos,label
0,cd05,0,0,"Furthermore/rb ,/, as/cs an/at encouragement/n...","Furthermore , as an encouragement to revisioni...","rb , cs at nn in nn nn , pps rb bez jj to vb c...",religion
1,cd05,0,1,The/at Unitarian/jj clergy/nns were/bed an/at ...,The Unitarian clergy were an exclusive club of...,at jj nns bed at jj nn in vbn nns -- cs at nn ...,religion
2,cd05,0,2,"Ezra/np Stiles/np Gannett/np ,/, an/at honorab...","Ezra Stiles Gannett , an honorable representat...","np np np , at jj nn in at nn , vbd ppl rb in a...",religion
3,cd05,0,3,"Even/rb so/rb ,/, Gannett/np judiciously/rb ar...","Even so , Gannett judiciously argued , the Ass...","rb rb , np rb vbd , at nn-tl md rb vb cs np ``...",religion
4,cd05,0,4,We/ppss today/nr are/ber not/* entitled/vbn to...,We today are not entitled to excoriate honest ...,ppss nr ber * vbn to vb jj nns wps vbd np to b...,religion

# Gazetteers

In [96]:
# Gazetteers

directory = new_nltk_data+'/corpora/gazetteers/'
if not os.path.exists(directory):
    os.makedirs(directory)
    
gazetteers_filename2labels = {'mexstates.txt':'Mexico States',
                              'caprovinces.txt': 'Canada Provinces',
                              'usstateabbrev.txt': 'US State Abbreviations',
                              'uscities.txt': 'US Cities',
                              'countries.txt': 'Countries',
                              'isocountries.txt': 'Countries ISO codes',
                              'nationalities.txt': 'Nationalities',
                              'usstates.txt': 'US States'
                             }

rows = []
for filename in os.listdir(old_nltk_data+'/corpora/gazetteers/'):
    if filename in ['LICENSE.txt']:
        continue
    label = gazetteers_filename2labels[filename]
    with io.open(old_nltk_data+'/corpora/gazetteers/'+filename, encoding='ISO-8859-2') as fin:
        for line in fin:
            if line.strip():
                text = line.strip()
                if text == 'QuerĂŠtaro':
                    text = 'Querétaro'
                rows.append({'text':text, 'label':label})

df_gazetteers = pd.DataFrame(rows)[['text', 'label']]

#alpabet = list('abcdefghijklmnopqrstuvwxyz. ()-,') + list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
#alpabet += ["'"]
#[word for word in df_gazetteers['text'] if any(ch for ch in word if ch not in alpabet)]

df_gazetteers.to_csv(new_nltk_data + '/corpora/gazetteers/gazetteers.tsv', sep='\t', index=False)
df_gazetteers = pd.read_csv(new_nltk_data + '/corpora/gazetteers/gazetteers.tsv', sep='\t', 
                     dtype={'text':str, 'label':str})

gazetteers_filename2labels = {'mexstates.txt':'Mexico States',
                              'caprovinces.txt': 'Canada Provinces',
                              'usstateabbrev.txt': 'US State Abbreviations',
                              'uscities.txt': 'US Cities',
                              'countries.txt': 'Countries',
                              'isocountries.txt': 'Countries ISO codes',
                              'nationalities.txt': 'Nationalities',
                              'usstates.txt': 'US States'
                             }

gazetteers_meta = {'title':'Geolocation Gazeteers',
                    'subcorpora': {'Mexico States': {'original_file': 'mexstates.txt'},
                                   'Canada Provinces': {'original_file': 'caprovinces.txt'},
                                   'US State Abbreviations': {'original_file': 'usstates.txt'},
                                   'US States': {'original_file': 'usstateabbrev.txt'},
                                   'US Cities': {'original_file':'uscities.txt',
                                                 'source': 'http://en.wikipedia.org/wiki/List_of_cities_in_the_United_States_with_over_100%2C000_people',
                                                 'license': 'GNU Free Documentation License',
                                                 'license_url': 'http://www.gnu.org/copyleft/fdl.html'
                                                },
                                   'Countries': {'original_file':'countries.txt',
                                                 'source':'http://en.wikipedia.org/wiki/List_of_countries',
                                                 'license': 'GNU Free Documentation License',
                                                 'license_url': 'http://www.gnu.org/copyleft/fdl.html'
                                                },
                                   'Countries ISO codes': {'original_file': 'isocountries.txt',
                                                          'source': 'http://www.guavastudios.com/country-list.htm'
                                                          },
                                   'Nationalities': {'original_file': 'nationalities.txt',
                                                    'source': 'http://www.guavastudios.com/nationalities-list.htm'
                                                    },
                                  }
                    }

with open(new_nltk_data+'/corpora/gazetteers/gazetteers-meta.json', 'w') as fout:
    json.dump(gazetteers_meta, fout, sort_keys=True, indent=4, separators=(',', ': '))

# Words

In [98]:
# Words

directory = new_nltk_data+'/corpora/words/'
if not os.path.exists(directory):
    os.makedirs(directory)
    
en_words = []
with open(old_nltk_data+'/corpora/words/en') as fin:
    for line in fin:
        en_words.append(line.strip())

basic_en_words = []
with open(old_nltk_data+'/corpora/words/en-basic') as fin:
    for line in fin:
        basic_en_words.append(line.strip())
        
words_meta = {'title':'Word Lists',
              'subcorpora': {'Unix Words':{'source':'http://en.wikipedia.org/wiki/Words_(Unix)'},
                           'Ogden Basic English': {'title': 'The ABC of Basic English',
                                                   'author':'C.K. Ogden (1932)'}
                          }
            }

unix_words = pd.DataFrame({'text':en_words})
ogden_words = pd.DataFrame({'text':basic_en_words})

unix_words.to_csv(new_nltk_data + '/corpora/words/unix_words.tsv', sep='\t', index=False)
ogden_words.to_csv(new_nltk_data + '/corpora/words/ogden_words.tsv', sep='\t', index=False)

unix_words = pd.read_csv(new_nltk_data + '/corpora/words/unix_words.tsv', sep='\t', dtype={'text':str})
ogden_words = pd.read_csv(new_nltk_data + '/corpora/words/ogden_words.tsv', sep='\t', dtype={'text':str})

with open(new_nltk_data+'/corpora/words/words-meta.json', 'w') as fout:
    json.dump(words_meta, fout, sort_keys=True, indent=4, separators=(',', ': '))

# Movie Review

In [107]:

directory = new_nltk_data+'/corpora/movie_reviews/'
if not os.path.exists(directory):
    os.makedirs(directory)
    
rows = []

for filename in sorted(os.listdir(old_nltk_data+'/corpora/movie_reviews/pos/')):
    fold, html_id = filename[:-4].split('_')
    fold_id = int(int(fold[2:]) / 100)
    
    with open(old_nltk_data+'/corpora/movie_reviews/pos/'+filename) as fin:
        for sent_id, line in enumerate(fin):
                rows.append({'fold_id':fold_id, 
                             'cv_tag':fold, 
                             'html_id':html_id, 
                             'sent_id':sent_id, 
                             'text':line.strip(),
                             'tag':'pos'
                            })
                
for filename in sorted(os.listdir(old_nltk_data+'/corpora/movie_reviews/neg/')):
    fold, html_id = filename[:-4].split('_')
    fold_id = int(int(fold[2:]) / 100)

    with open(old_nltk_data+'/corpora/movie_reviews/neg/'+filename) as fin:
        for sent_id, line in enumerate(fin):
                rows.append({'fold_id':fold_id, 
                             'cv_tag':fold, 
                             'html_id':html_id, 
                             'sent_id':sent_id, 
                             'text':line.strip(),
                             'tag':'neg'
                            })
                
df_movie_reivews = pd.DataFrame(rows)[['fold_id', 'cv_tag', 'html_id', 'sent_id', 'text', 'tag']]

df_movie_reivews.to_csv(new_nltk_data + '/corpora/movie_reviews/movie_review.tsv', sep='\t', index=False)
df_movie_reivews = pd.read_csv(new_nltk_data + '/corpora/movie_reviews/movie_review.tsv', sep='\t', 
                     dtype={'fold_id':int, 'cv_tag':str, 'html_id':str, 'sent_id':int,
                            'text':str, 'tag':str})


mr_bibtext = """@InProceedings{Pang+Lee:04a,
  author =       {Bo Pang and Lillian Lee},
  title =        {A Sentimental Education: Sentiment Analysis Using Subjectivity Summarization Based on Minimum Cuts},
  booktitle =    "Proceedings of the ACL",
  year =         2004
}"""



mr_meta = {'title': 'Sentiment Polarity Dataset Version 2.0',
           'aka': 'Moview Review Data',
           'source': 'http://www.cs.cornell.edu/people/pabo/movie-review-data/',
           'authors': 'Bo Pang and Lillian Lee',
           'license': 'Distributed with NLTK with permission from the authors.',
            'bibtex':mr_bibtext}

with open(new_nltk_data+'/corpora/movie_reviews/movie_reviews-meta.json', 'w') as fout:
    json.dump(mr_meta, fout, sort_keys=True, indent=4, separators=(',', ': '))

# Webtext

In [113]:
directory = new_nltk_data+'/corpora/webtext/'
if not os.path.exists(directory):
    os.makedirs(directory)
    
rows = []
for filename in sorted(os.listdir(old_nltk_data+'/corpora/webtext/')):
    if not filename.endswith('.txt'):
        continue
    
    subcorp = filename.split('.')[0]
    with open(old_nltk_data+'/corpora/webtext/' + filename, encoding='latin-1') as fin:
        for line in fin:
            rows.append({'text': line.strip(), 'domain': subcorp})
df_webtext = pd.DataFrame(rows)[['text', 'domain']]


df_webtext.to_csv(new_nltk_data +'/corpora/webtext/webtext.tsv', sep='\t', index=False)
df_webtext = pd.read_csv(new_nltk_data + '/corpora/webtext/webtext.tsv', sep='\t', 
                     dtype={'text':str, 'domain':str})



webtext_meta = {'title':'Web Text Corpus',
                   'description': str("This is a collection of diverse, contemporary text genres, "
                                      "collected by scraping publicly accessible archives of web postings. "
                                      "This data is disseminated in preference to publishing URLs for "
                                       "individuals to download and clean up (the usual model for web corpora)."),
                   
                    'subcorpora': {'firefox': {'original_file': 'firefox.txt', 
                                               'description': 'Firefox support forum'},
                                   'overheard': {'original_file': 'overheard.txt', 
                                               'description': 'Overheard in New York (partly censored)', 
                                                'source': 'http://www.overheardinnewyork.com/', 
                                                'year': '2006'},
                                   'pirate': {'original_file': 'pirate.txt', 
                                               'description': "Movie script from Pirates of the Caribbean: Dead Man's Chest",
                                                'source': 'http://www.overheardinnewyork.com/', 
                                                'year': '2006'},
                                   'grail': {'original_file': 'grail.txt', 
                                               'description': 'Movie script from Monty Python and the Holy Grail',
                                                'source': 'http://www.textfiles.com/media/SCRIPTS/grail', 
                                                'year': '2006'},
                                   'singles': {'original_file': 'singles.txt', 
                                               'description': 'Singles ads',
                                                'source': 'http://search.classifieds.news.com.au/',},
                                   'wine': {'original_file': 'wine.txt', 
                                               'description': 'Fine Wine Diary',
                                                'source': 'http://www.finewinediary.com/', 
                                                'year': '2005-6'},
                                  }
                    }

with open(new_nltk_data+'/corpora/webtext/webtext-meta.json', 'w') as fout:
    json.dump(webtext_meta, fout, sort_keys=True, indent=4, separators=(',', ': '))

# Names

In [116]:
directory = new_nltk_data+'/corpora/names/'
if not os.path.exists(directory):
    os.makedirs(directory)
    

rows =[]
for filename in sorted(os.listdir(old_nltk_data+'/corpora/names/')):
    if not filename.endswith('.txt'):
        continue
    
    label = filename.split('.')[0]
    with open(old_nltk_data+'/corpora/names/' + filename) as fin:
        for line in fin:
            rows.append({'text': line.strip(), 'gender': label})
        
df_names = pd.DataFrame(rows)[['text', 'gender']]
df_names.to_csv(new_nltk_data+'/corpora/names/names.tsv', sep='\t', index=False)
df_names = pd.read_csv(new_nltk_data+'/corpora/names/names.tsv', sep='\t', 
                     dtype={'text':str, 'gender':str})
            
names_readme = """Names Corpus, Version 1.3 (1994-03-29)
Copyright (C) 1991 Mark Kantrowitz
Additions by Bill Ross

This corpus contains 5001 female names and 2943 male names, sorted
alphabetically, one per line.

You may use the lists of names for any purpose, so long as credit is
given in any published work. You may also redistribute the list if you
provide the recipients with a copy of this README file. The lists are
not in the public domain (I retain the copyright on the lists) but are
freely redistributable.  If you have any additions to the lists of
names, I would appreciate receiving them.

Mark Kantrowitz <mkant+@cs.cmu.edu>
http://www-2.cs.cmu.edu/afs/cs/project/ai-repository/ai/areas/nlp/corpora/names/"""
    
names_meta = {'title': 'Names Corpus',
              'version': '1.3 (1994-03-29)',
              'description': 'This corpus contains 5001 female names and 2943 male names',
              'authors': 'Mark Kantrowitz, Bill Ross',
              'license': 'Copyright (C) 1991 Mark Kantrowitz',
              'source': 'http://www-2.cs.cmu.edu/afs/cs/project/ai-repository/ai/areas/nlp/corpora/names/',
              'readme': names_readme}


with open(new_nltk_data+'/corpora/names/names-meta.json', 'w') as fout:
    json.dump(names_meta, fout, sort_keys=True, indent=4, separators=(',', ': '))

# State of the Union

```python
import requests
from bs4 import BeautifulSoup

all_sotu = {}

text_url = 'http://stateoftheunion.onetwothree.net/texts/'

headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

for li in BeautifulSoup(requests.get(text_url + 'index.html').content).find_all('li'):
    if not li.find('a')['href']:
        continue

    sotu = text_url + li.find('a')['href']
    if sotu.split('/')[-1].split('.')[0].isdigit():
        year = li.find('a').text.split(', ')[-1]
        if year in all_sotu:
            continue
        else:
            soup = BeautifulSoup(requests.get(sotu, headers=headers).content)
            name = soup.find('h2').text
            date = soup.find('h3').text
            year = date.split(', ')[1]
            print(year, end=', ')
            texts = [str(p) for p in soup.find_all('p')]
            all_sotu[year] = {'year':year, 'date':date, 'name':name, 'texts':'\n\n'.join(texts).strip()}
            
for year in all_sotu:
    lastname = all_sotu[year]['name'].split()[-1]
    with open(f'sotu/{lastname}-{year}', 'w') as fout:
        print(all_sotu[year]['texts'].strip(), file=fout)
```

In [12]:
directory = new_nltk_data+'/corpora/state_union/'
if not os.path.exists(directory):
    os.makedirs(directory)


df_sotu = pd.read_csv('stateunion.tsv', sep='\t', 
                     dtype={'texts':str, 'date':str, 'name':str},
                     index_col=0)

df_sotu.T['texts'] = ['\n\n'.join([deduplicate(' '.join(para.split('\n')), ' ') 
                       for para in re.sub('<[^<]+?>', '', raw).strip().split('\n\n')])
                      for raw in df_sotu.T.texts]

sotu_meta = {'title': 'State of the Union: Addrresses', 
             'author': 'Brad Borevitz', 
             'source': 'http://stateoftheunion.onetwothree.net/texts/',
             'year': '1790-2018'
            }

with open(new_nltk_data+'/corpora/state_union/state_union-meta.json', 'w') as fout:
    json.dump(sotu_meta, fout, sort_keys=True, indent=4, separators=(',', ': '))
    
df_sotu.to_csv(new_nltk_data+'/corpora/state_union/state_union.tsv', sep='\t', index=False)

In [137]:
df_sotu

,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
date,"January 8, 1790","October 25, 1791","November 6, 1792","December 3, 1793","November 19, 1794","December 8, 1795","December 7, 1796","November 22, 1797","December 8, 1798","December 3, 1799",...,"February 24, 2009","January 27, 2010","January 25, 2011","January 24, 2012","February 12, 2013","January 28, 2014","January 20, 2015","January 12, 2016","February 28, 2017","January 30, 2018"
name,George Washington,George Washington,George Washington,George Washington,George Washington,George Washington,George Washington,John Adams,John Adams,John Adams,...,Barack Obama,Barack Obama,Barack Obama,Barack Obama,Barack Obama,Barack Obama,Barack Obama,Barack Obama,Donald J. Trump,Donald J. Trump
texts,Fellow-Citizens of the Senate and House of Rep...,Fellow-Citizens of the Senate and House of Rep...,Fellow-Citizens of the Senate and House of Rep...,Fellow-Citizens of the Senate and House of Rep...,Fellow-Citizens of the Senate and House of Rep...,Fellow-Citizens of the Senate and House of Rep...,Fellow-Citizens of the Senate and House of Rep...,Gentlemen of the Senate and Gentlemen of the H...,Gentlemen of the Senate and Gentlemen of the H...,Gentlemen of the Senate and Gentlemen of the H...,...,"Madame Speaker, Mr. Vice President, Members of...","Madame Speaker, Vice President Biden, Members ...","Mr. Speaker, Mr. Vice President, members of Co...","Mr. Speaker, Mr. Vice President, members of Co...","Mr. Speaker, Mr. Vice President, Members of Co...","Mr. Speaker, Mr. Vice President, Members of Co...","Mr. Speaker, Mr. Vice President, Members of Co...","Mr. Speaker, Mr. Vice President, Members of Co...","Thank you very much. Mr. Speaker, Mr. Vice Pre...","Mr. Speaker, Mr. Vice President, Members of Co..."

,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
date,"January 8, 1790","October 25, 1791","November 6, 1792","December 3, 1793","November 19, 1794","December 8, 1795","December 7, 1796","November 22, 1797","December 8, 1798","December 3, 1799",...,"February 24, 2009","January 27, 2010","January 25, 2011","January 24, 2012","February 12, 2013","January 28, 2014","January 20, 2015","January 12, 2016","February 28, 2017","January 30, 2018"
name,George Washington,George Washington,George Washington,George Washington,George Washington,George Washington,George Washington,John Adams,John Adams,John Adams,...,Barack Obama,Barack Obama,Barack Obama,Barack Obama,Barack Obama,Barack Obama,Barack Obama,Barack Obama,Donald J. Trump,Donald J. Trump
texts,Fellow-Citizens of the Senate and House of Rep...,Fellow-Citizens of the Senate and House of Rep...,Fellow-Citizens of the Senate and House of Rep...,Fellow-Citizens of the Senate and House of Rep...,Fellow-Citizens of the Senate and House of Rep...,Fellow-Citizens of the Senate and House of Rep...,Fellow-Citizens of the Senate and House of Rep...,Gentlemen of the Senate and Gentlemen of the H...,Gentlemen of the Senate and Gentlemen of the H...,Gentlemen of the Senate and Gentlemen of the H...,...,"Madame Speaker, Mr. Vice President, Members of...","Madame Speaker, Vice President Biden, Members ...","Mr. Speaker, Mr. Vice President, members of Co...","Mr. Speaker, Mr. Vice President, members of Co...","Mr. Speaker, Mr. Vice President, Members of Co...","Mr. Speaker, Mr. Vice President, Members of Co...","Mr. Speaker, Mr. Vice President, Members of Co...","Mr. Speaker, Mr. Vice President, Members of Co...","Thank you very much. Mr. Speaker, Mr. Vice Pre...","Mr. Speaker, Mr. Vice President, Members of Co..."

In [139]:
for filename in os.listdir('sotu'):
    with open('sotu/'+filename) as fin, open('sotu-clean/'+filename, 'w') as fout:
        fout.write(re.sub('<[^<]+?>', '', fin.read()).strip())

City.db
=====

In [10]:
from nltk.sem.chat80 import cities2table, sql_query
from sqlite3 import OperationalError
try:
    cities2table('cities.pl', 'city', 'city.db', verbose=True, setup=True)
except OperationalError:
    pass 
for row in sql_query('corpora/city_database/city.db', "SELECT * FROM city_table"):
    city, country, population = row
    print(city, country, population)

athens greece 1368
bangkok thailand 1178
barcelona spain 1280
berlin east_germany 3481
birmingham united_kingdom 1112
bombay india 2839
brussels belgium 986
bucharest romania 1237
budapest hungary 1757
buenos_aires argentina 3404
cairo egypt 2373
calcutta india 2549
canton china 1496
caracas venezuela 488
chicago united_states 3621
chungking china 1100
dairen china 544
delhi india 1744
detroit united_states 1850
glasgow united_kingdom 1090
hamburg west_germany 1700
harbin china 760
hongkong_city hongkong 2440
hyderabad india 1086
istanbul turkey 1215
jakarta indonesia 533
johannesburg south_africa 880
karachi pakistan 1126
kiev soviet_union 991
kobe japan 765
kowloon china 547
kyoto japan 1204
leningrad soviet_union 2800
lima peru 835
london united_kingdom 8346
los_angeles united_states 1970
madras india 1416
madrid spain 1700
manila philippines 1025
melbourne australia 1595
mexico_city mexico 3796
milan italy 1269
montreal canada 1109
moscow soviet_union 4800
mukden china 1551
nagoya japan 1337
nanking japan 1020
naples italy 1012
new_york united_states 7795
osaka japan 2547
paris france 2850
peking china 2031
philadelphia united_states 2072
pusan south_korea 474
rio_de_janeiro brazil 2413
rome italy 1760
saigon vietnam 695
santiago chile 1350
sao_paulo brazil 2228
seoul south_korea 1446
shanghai china 5407
sian china 629
singapore_city singapore 1264
sydney australia 1898
tehran iran 1010
tientsin china 1795
tokyo japan 8535
toronto canada 668
vienna austria 1766
warsaw poland 965
yokohama japan 1143

('athens', 'greece', 1368)
('bangkok', 'thailand', 1178)
('barcelona', 'spain', 1280)
('berlin', 'east_germany', 3481)
('birmingham', 'united_kingdom', 1112)
('bombay', 'india', 2839)
('brussels', 'belgium', 986)
('bucharest', 'romania', 1237)
('budapest', 'hungary', 1757)
('buenos_aires', 'argentina', 3404)
('cairo', 'egypt', 2373)
('calcutta', 'india', 2549)
('canton', 'china', 1496)
('caracas', 'venezuela', 488)
('chicago', 'united_states', 3621)
('chungking', 'china', 1100)
('dairen', 'china', 544)
('delhi', 'india', 1744)
('detroit', 'united_states', 1850)
('glasgow', 'united_kingdom', 1090)
('hamburg', 'west_germany', 1700)
('harbin', 'china', 760)
('hongkong_city', 'hongkong', 2440)
('hyderabad', 'india', 1086)
('istanbul', 'turkey', 1215)
('jakarta', 'indonesia', 533)
('johannesburg', 'south_africa', 880)
('karachi', 'pakistan', 1126)
('kiev', 'soviet_union', 991)
('kobe', 'japan', 765)
('kowloon', 'china', 547)
('kyoto', 'japan', 1204)
('leningrad', 'soviet_union', 2800)
('lima', 'peru', 835)
('london', 'united_kingdom', 8346)
('los_angeles', 'united_states', 1970)
('madras', 'india', 1416)
('madrid', 'spain', 1700)
('manila', 'philippines', 1025)
('melbourne', 'australia', 1595)
('mexico_city', 'mexico', 3796)
('milan', 'italy', 1269)
('montreal', 'canada', 1109)
('moscow', 'soviet_union', 4800)
('mukden', 'china', 1551)
('nagoya', 'japan', 1337)
('nanking', 'japan', 1020)
('naples', 'italy', 1012)
('new_york', 'united_states', 7795)
('osaka', 'japan', 2547)
('paris', 'france', 2850)
('peking', 'china', 2031)
('philadelphia', 'united_states', 2072)
('pusan', 'south_korea', 474)
('rio_de_janeiro', 'brazil', 2413)
('rome', 'italy', 1760)
('saigon', 'vietnam', 695)
('santiago', 'chile', 1350)
('sao_paulo', 'brazil', 2228)
('seoul', 'south_korea', 1446)
('shanghai', 'china', 5407)
('sian', 'china', 629)
('singapore_city', 'singapore', 1264)
('sydney', 'australia', 1898)
('tehran', 'iran', 1010)
('tientsin', 'china', 1795)
('tokyo', 'japan', 8535)
('toronto', 'canada', 668)
('vienna', 'austria', 1766)
('warsaw', 'poland', 965)
('yokohama', 'japan', 1143)